# Info
description "DNS Runner Service"

# Events
start on startup
stop on shutdown

# Automatically respawn
respawn
respawn limit 20 5

# Run the script!
# Note, in this example, if your PHP script returns
# the string "ERROR", the daemon will stop itself.
script
    [ $(exec /usr/bin/env php /var/www/dnsgui/daemon/dns_runner.php) = 'ERROR' ] && ( stop; exit 1; )
end script
